.skill {
    min-height: 500px;
    text-align : center;
    background-color:lemonchiffon;
    box-sizing: border-box;
}

.skill-container {
    display:inline-flex;
}

.skill-item {
    text-align: center;
    display: inline-block;
    width: 114px;
    height: 116px;
    border-radius: 30px 30px;
    margin-right: 2rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

.skill-exp {
    background-color: lightblue;
    text-align: center;
    display: inline-block;
    width: 114px;
    height: 116px;
    margin-right: 2rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%);
}

.skill-80 {
    height: 80%;
    margin-top: 20%;
    border-radius: 15px 15px 30px 30px;
}

.skill-60 {
    height: 60%;
    margin-top: 40%;
    border-radius: 10px 10px 30px 30px;
}

.skill-40 {
    height: 40%;
    margin-top: 60%;
    border-radius: 10px 10px 30px 30px;
}